#c_joinComplete label {
    font-weight: 500;
    font-size: 0.9rem;
}

#c_joinComplete ul {
    list-style: none;
    margin-bottom: 50px;
    padding: 0;
}

#c_joinComplete textarea {
    cursor: default;
    background-color: #FFFFFF;
    vertical-align: center;
}