<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.community.mapper.CommentMapper">
  <!-- Java-MySQL Mapper -->
  <resultMap id="CommentMap" type="Comment">
    <result property="id" column="id"/>
    <result property="postId" column="post_id"/>
    <result property="userNickname" column="user_nickname"/>
    <result property="content" column="content"/>
    <result property="likeCount" column="likeCount"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
  </resultMap>
  <resultMap id="CommentLikeMap" type="CommentLike">
    <result property="postId" column="post_id"/>
    <result property="commentId" column="comment_id"/>
    <result property="userNickname" column="user_nickname"/>
  </resultMap>

  <!-- 댓글 등록 -->
  <insert id="createComment" parameterType="Comment">
    INSERT
    INTO comment (post_id, user_nickname, content)
    VALUES (#{postId}, #{userNickname}, #{content})
  </insert>

  <!-- 댓글 추천 -->
  <insert id="createCommentLike" parameterType="CommentLike">
    INSERT
    INTO comment_like (post_id, comment_id, user_nickname)
    VALUES (#{postId}, #{commentId}, #{userNickname})
  </insert>

  <!-- 전체 댓글 개수 조회 -->
  <select id="countAllComment" resultType="int">
    SELECT COUNT(*)
    FROM comment
  </select>

  <!-- 댓글 개수 조회 -->
  <select id="countCommentById" parameterType="long" resultType="int">
    SELECT COUNT(*)
    FROM comment
    WHERE post_id = #{postId}
  </select>

  <!-- 댓글 수정 및 삭제 본인 확인 검사 -->
  <select id="countCommentByNickname" resultType="int">
    SELECT COUNT(*)
    FROM comment
    WHERE id = #{id} AND user_nickname = #{userNickname}
  </select>

  <!-- 댓글 추천 여부 검사 -->
  <select id="countCommentLikeByNickname" resultType="int">
    SELECT COUNT(*)
    FROM comment_like
    WHERE post_id = #{postId} AND comment_id = #{commentId} AND user_nickname = #{userNickname}
  </select>

  <!-- 댓글 상세 조회 -->
  <select id="selectCommentById" parameterType="long" resultType="Comment">
    SELECT *
    FROM comment
    WHERE id = #{id}
  </select>

  <!-- 댓글 목록 조회 -->
  <select id="selectAllComment" parameterType="long" resultType="Comment">
    SELECT *
    FROM comment
    WHERE post_id = #{postId}
    ORDER BY id
  </select>

  <!-- 댓글 추천 목록 조회 -->
  <select id="selectAllCommentLike" resultType="CommentLike">
    SELECT *
    FROM comment_like
    WHERE post_id = #{postId} AND user_nickname = #{userNickname}
  </select>

  <!-- 댓글 수정 -->
  <update id="updateComment" parameterType="Comment">
    UPDATE comment
    SET content = #{content}
    WHERE id = #{id} AND user_nickname = #{userNickname}
  </update>

  <!-- 댓글 추천 개수 갱신 -->
  <update id="updateCommentLike" parameterType="long">
    UPDATE comment
    <set>
      <if test="command.name() == 'UP_COMMAND'">like_count = like_count + 1,</if>
      <if test="command.name() == 'DOWN_COMMAND'">like_count = like_count - 1,</if>
    </set>
    WHERE id = #{id} AND post_id = #{postId}
  </update>

  <!-- 댓글 삭제 -->
  <delete id="deleteComment">
    DELETE
    FROM comment
    WHERE id = #{id} AND user_nickname = #{userNickname}
  </delete>

  <!-- 댓글 추천 취소 -->
  <delete id="deleteCommentLike">
    DELETE
    FROM comment_like
    WHERE post_id = #{postId} AND comment_id = #{commentId} AND user_nickname = #{userNickname}
  </delete>
</mapper>