#c_commentList {
    max-width: 1000px;
}

#c_commentList .c_headerLine {
    margin-top: 25px;
}

#c_commentListHeader {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

#c_commentListBody .media-area {
    margin-bottom: -15px;
}

#c_commentListBody .counter {
    top: -44px;
    left: 120px;
    background-color: #0B0D69;
}

#c_commentList .p {
    font-size: 0.9rem;
}

#c_commentListBody .media-heading {
    font-size: 1rem;
}

#c_commentListBody .media-body {
    padding-right: 0;
}

#c_commentListBody .media-body p {
    font-size: 0.9rem;
}

#c_commentListBody .media-object {
    width: 25%;
    border-radius: 50%;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
}

#c_commentListBody .media-object {
    width: 50px;
    height: 50px;
}

#c_commentListBody .commentContent {
    position: relative;
    top: -65px;
    /*max-width: 575px;*/
}

#c_commentListButton {
    /*position: relative;*/
    /*top: -85px;*/
    position: relative;
    top: -51px;
}